.comment_box {
    display : flex;
    justify-content : space-between;
    flex-direction : row;
    align-items : center;
    flex-wrap : wrap;

    // background-color : #D8D8D8;

    font-size : 15px;

    margin : 10px auto;
    padding : 7px;

    height : 40px;

    border-radius : 5px;

    .buttomBox {
        font-size : 15px;
        font-weight : bold; 
    
    }

    .editButton {
        margin-right : 10px;
        border : 0px;
        margin : 5px 5px auto; 
        background-color: white;
        font-weight : bold; 
    }

    .deleteButton {
        border : 0px;
        margin : 5px 5px auto;  
        background-color: white;
        font-weight : bold; 
    }
}

.comment_writer {
    font-weight : bold;

    width : 180px;
    text-align : center;

    margin-left : -50px;
}

.comment_text {
    width : 250px;
}

.updateBox {
    text-align: center;
  }

.showBox {
    height: 70px;
    transition: .5s;
  }
.hideBox {
    height:0;
    overflow: hidden;
    transition: 1s;
  }
.update_comment_box {
    border: 0px;
    margin:  0px 90px;
    margin-top: 10px;
}

.completeButton {
    border : 0px;
    background-color: white;
    font-weight : bold; 

}